*{
    padding: 0px;
    margin: 0px;
}
.container{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    height:max-content;
    
  }
  .VERDE{
 
    background-color: green;
    background-color: var(--color);
    height: 100vh;
  }
   .BLANCO{
    display: grid;
    grid-template-rows:1fr 1fr 1fr;
    background-color: white;
    justify-content: center;
    align-items: center;
  }
  .BLANCO img{
    width: 250px;
  }
  .ROJO{
   
    background-color:red;
    height:100vh;
  }
  
 